<a href="https://colab.research.google.com/github/kaethejulian/CPEN-21A-CPE-1-1/blob/main/Midterm_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MIDTERM EXAM

###PROBLEM STATEMENT 1

In [10]:
Name="Ma. Kaethe Joy A. Julian"
Student_Number="202101036"
Age="18 years old"
Birthday="December 04, 2002"
Address="Blk 15 Lot 6 Springtown Southgate 2 Bucal Tanza Cavite"
Course="BS CPE"
Last_Sem_GWA="93"

print(Name)
print(Student_Number)
print(Age)
print(Birthday)
print(Address)
print(Course)
print(Last_Sem_GWA)

Ma. Kaethe Joy A. Julian
202101036
18 years old
December 04, 2002
Blk 15 Lot 6 Springtown Southgate 2 Bucal Tanza Cavite
BS CPE
93

###PROBLEM STATEMENT 2

In [77]:
n = 4
answ = "Y"

print((2<n) and (n<6))
print((2<n) or (n==6))
print(not(2<n) or (n==6))
print(not(n<6))
print((answ=="Y") or (answ=="y"))
print((answ=="Y") and (answ=="y"))
print(not(answ=="y"))
print((2<n) and (n==5+1)) or (answ=="No")
print((n==2) and (n==7)) or (answ=="Y")
print(n==2) and ((n==7) or (answ=="Y"))

True
True
False
False
True
False
True
False
False
False

###PROBLEM STATEMENT 3

In [78]:
x=2
y=-3
w=7
z=-10

print(x/y)
print(w/y/x)
print(z/y%x)
print(x%-y*w)
print(x%y)
print(z%w-y/x*5+5)
print(9-x%(2+y))
print(z//w)
print((2+y)**2)
print(w/x*2)

-0.6666666666666666
-1.1666666666666667
1.3333333333333335
14
-1
16.5
9
-2
1
7.0